apiVersion: v1
kind: Namespace
metadata:
  name: postgresql
---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-credentials
  namespace: postgresql
type: Opaque
stringData:
  postgres-password: "postgres"
  password: "apppassword"
  # Additional database credentials
  hydra-password: "hydra_pass"
  infra-password: "infra_pass"
  idp-password: "idp_pass"
